@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

:root {
  --primary: #0063FF;
  --secondary: #ffffff;
}

* {
  font-family: 'Poppins', sans-serif;
}

.container {
  text-align: center;
}

.main-heading {
  font-size: 40px;
  color: #000;
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 45px;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 0px!important;
}
.notes-container {
  margin-top: 1rem;
}
#outlined-basic {
  height: 16px;
}
.notes-card {
  transition: .3s;
}
.notes-card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(255, 255, 255, 0.8);
}
.notes-title textarea, .notes-title {
  font-weight: 600;
}

.notes-creator-textarea textarea {
  min-height: 364px;
}

.no-notes-image {
    height: 170px;
    opacity: .2;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-footer {
  font-size: .9rem!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@media (min-width: 992px){
  .notes-container {
    margin-top: 3rem;
  }
  .appbar-main {
    height: 80px;
  }
  .no-notes-image {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .notes-container {
    margin-top: 2rem;
  }
  .appbar-main {
    height: 70px;
  }
  .no-notes-image {
    height: 180px;
  }
}

@media (max-width: 470px) {
  .firstname-lastname {
    min-width: 100%!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .no-notes-image {
    height: 128px;
  }
}

@media (max-width: 576px) {
  .main-heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
  }
  .form-footer {
    font-size: .8rem!important;
  }
  .no-notes-image {
    height: 160px;
  }
}