@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* * {
  font-family: 'Poppins', sans-serif!important;
} */

.container {
  text-align: center;
}

.font-poppins {
  font-family: 'Poppins', sans-serif!important;
}

.main-heading {
  font-family: 'Poppins', sans-serif!important;
  font-size: 40px;
  color: #000;
  padding: 0px;
  margin-bottom: 0px;
  font-weight: 700;
  line-height: 45px;
}
.app-header {
  font-size: 22px!important;
  font-weight: 600!important;
}

body {
  margin: 0px;
  font-family: 'Poppins', sans-serif;
}

p {
  margin-bottom: 0px!important;
}

.modal-content {
  border: 0px!important;
}
.Mui-disabled {
  -webkit-text-fill-color:rgba(0, 0, 0, 1)!important;
}
.menu-text {
  margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    display: block;
    /* font-family: "Roboto","Helvetica","Arial",sans-serif; */
}
.notes-container {
  margin-top: 1rem;
}
.filteration-header {
  font-family: 'Poppins', sans-serif!important;
  height: 80px;
  margin: -5px;
  margin-top: 16px;
  font-size: 38px;
  text-align: left;
  font-weight: 600;
  background: #fff;
  position: fixed;
  z-index: 5;
  width: 100%;
  padding: 5px;
}
.note-editable {
  overflow: hidden;
}
#outlined-basic {
  height: 16px;
}
.notes-card {
  transition: .3s!important;
  height: 76px;
}
.notes-card {
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(255, 255, 255, 0.8);
}
.notes-title, .notes-title {
  font-weight: 600;
  font-size: 22px;
}
.notes-input-title textarea {
  font-weight: 600;
}
button {
  font-weight: 600!important;
}

.notes-creator-textarea textarea {
  min-height: 364px;
}

.no-notes-image {
    height: 170px;
    opacity: .2;
}
.badge {
  height: 22px;
  min-width: 22px;
  margin-top: 3px;
  margin-right: 14px;
  background-color: aliceblue;
  border-radius: 10px;
}

.drawer-list {
  border-radius: 0 24px 24px 0!important;
  margin-bottom: 4px!important;
}
.drawer-text {
  font-family: 'Poppins', sans-serif!important;
  font-size: .9rem;
  margin-top: 1px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.form-footer {
  font-size: .9rem!important;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@media (min-width: 992px){
  .notes-container {
    margin-top: 3rem;
  }
  .appbar-main {
    height: 80px;
  }
  .no-notes-image {
    height: 200px;
  }
}

@media (min-width: 768px) {
  .notes-container {
    margin-top: 2rem;
  }
  .appbar-main {
    height: 70px;
  }
  .no-notes-image {
    height: 180px;
  }
  .shared-note-head {
    font-size: 28px;
  }
}

@media (max-width: 470px) {
  .firstname-lastname {
    min-width: 100%!important;
    margin-left: 0px!important;
    margin-right: 0px!important;
  }
  .no-notes-image {
    height: 128px;
  }
}

@media (max-width: 576px) {
  .main-heading {
    font-size: 34px;
    font-weight: 700;
    line-height: 40px;
  }
  .form-footer {
    font-size: .8rem!important;
  }
  .no-notes-image {
    height: 160px;
  }
}

.container-404 {
  margin-top: 5rem;
}

.face {
  width: 250px;
  height: 250px;
  border: 4px solid #383a41;
  border-radius: 10px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 100px;
}
@media screen and (max-width: 400px) {
  .face {
    margin-top: 40px;
    transform: scale(0.8);
 }
}
.face .band {
  width: 300px;
  height: 27px;
  border: 4px solid #383a41;
  border-radius: 5px;
  margin-left: -25px;
  margin-top: 40px;
}
.face .band .red {
  height: calc(100% / 3);
  width: 100%;
  background-color: #eb6d6d;
}
.face .band .white {
  height: calc(100% / 3);
  width: 100%;
  background-color: #fff;
}
.face .band .blue {
  height: calc(100% / 3);
  width: 100%;
  background-color: #5e7fdc;
}
.face .band:before {
  content: "";
  display: inline-block;
  height: 27px;
  width: 30px;
  /* background-color: rgba(255, 255, 255, 0.3); */
  position: absolute;
  z-index: 999;
}
.face .band:after {
  content: "";
  display: inline-block;
  height: 27px;
  width: 30px;
  /* background-color: rgba(56, 58, 65, 0.3); */
  position: absolute;
  z-index: 999;
  right: 0;
  margin-top: -27px;
}
.face .eyes {
  width: 128px;
  margin: 0 auto;
  margin-top: 35px;
}
.face .eyes:before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 7px solid #383a41;
  margin-right: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom: 0;
}
.face .eyes:after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 15px;
  border: 7px solid #383a41;
  margin-left: 20px;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  border-bottom: 0;
}
.face .dimples {
  width: 180px;
  margin: 0 auto;
  margin-top: 15px;
}
.face .dimples:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-right: 80px;
  border-radius: 50%;
  background-color: rgba(235, 109, 109, 0.4);
}
.face .dimples:after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  margin-left: 80px;
  border-radius: 50%;
  background-color: rgba(235, 109, 109, 0.4);
}
.face .mouth {
  width: 40px;
  height: 5px;
  border-radius: 5px;
  background-color: #383a41;
  margin: 0 auto;
  margin-top: 25px;
}
.not-found-head {
  font-weight: 800;
  color: #383a41;
  text-align: center;
  font-size: 2.5em;
  padding-top: 20px;
}
.back-home-btn {
  margin-top: 80px!important;
}
@media screen and (max-width: 576px) {
  .not-found-head {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 2em;
 }
 .not-found-body {
  padding-left: 20px;
  padding-right: 20px;
  font-size: 1em;
 }
 .back-home-btn {
   margin-top: 60px!important;
 }
 .container-404 {
   margin-top: 0px;
 }
 .loader-text {
   font-size: 16px;
 }
}

/* -------Loader-------  */

.loader {
  height: 60px;
  width: 60px;
  background: white;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.spinner {
  width: 40px;
  height: 40px;
  animation: contanim 2s linear infinite;
  margin: auto;
}
.mui-loader {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  transform: rotate(-90deg);
}
.mui-loader:nth-child(1) circle {
  stroke: #00FFFF;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  animation: strokeanim 3s calc(.2s * (1)) ease infinite;
  transform-origin: center center;
}
.mui-loader:nth-child(2) circle {
  stroke: #ffd900;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  animation: strokeanim 3s calc(.2s * (2)) ease infinite;
  transform-origin: center center;
}
.mui-loader:nth-child(3) circle {
  stroke: #0029FF;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  animation: strokeanim 3s calc(.2s * (3)) ease infinite;
  transform-origin: center center;
}
.mui-loader:nth-child(4) circle {
  stroke: #000;
  stroke-dasharray: 1, 300;
  stroke-dashoffset: 0;
  animation: strokeanim 3s calc(.2s * (4)) ease infinite;
  transform-origin: center center;
}
@keyframes strokeanim {
  0% {
    stroke-dasharray: 1, 300;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -58.6666666667;
  }
  100% {
    stroke-dasharray: 120, 300;
    stroke-dashoffset: -176;
  }
}
@keyframes contanim {
  100% {
    transform: rotate(360deg);
  }
}
